/*

!.gitignore

!README.md

!CMakeLists.txt
!/cmake/
/cmake/*
!/cmake/cmake_uninstall.cmake.in

!/src/
/src/*
!/src/krach.cpp

!/include/
/include/*
!/include/krach/
/include/krach/*
!/include/krach/krach.h
